div.panel.panel-default#last_played
    div.panel-heading
        span Ostatnio odtwarzane
    div.panel-body#last_played_items(ng-controller="FilesController")
        div(ng-repeat="file in files")
            span.left-to-label {{file.name}} ({{file.savedPosition}}/{{file.length}})
            span.pull-right
                span.label.label-primary {{file.lastDevice}}
                i.icon-apple.pull-right.icon-large
            span.left-to-label
                button.icon-play.left-to-label(ng-click="AddToFileList()")
                i.icon-plus.left-to-label
            span.left-to-label
                i.icon-calendar.left-to-label
            span.left-to-label {{file.lastListened}}
            hr
        span.clearfix