div.panel.panel-primary#on-account
    div.panel-heading
        span Na twoim koncie
    div.panel-body#on_account(ng-controller="FilesController")
        div(ng-repeat="file in files")
            span.pull-right
                i.icon-plus.left-to-label.clickable(ng-click="AddToFileToPlaylist($index)")
            div
                div {{file.name}}
                
            hr