div.panel.panel-primary#player
    div.panel-heading
        span Odtwarzanie
    div.panel-body(ng-controller="PlaylistController")
        audio#player_audio(controls,src="", type="audio/mp3")
        hr